@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth:never;
}

:root {

    /* colors */
    --body-bg-color:linear-gradient(220.55deg, #ffffff  0%, #fafafa 100%);
    --body-txt-color:#2a323a;
    --nav-links-hover:#3ca7c3;
    --section-title-1:#4a6a80;
    --section-title-2:#8c9ca8;
    --section-bg-color:linear-gradient(220.55deg, #f3f3f3  0%, #e9eded 100%);
    --clr-accenture:#59849d;

    /* fonts */
   --fs-big-title: clamp(2.125rem, 1.475rem + 3.25vi, 3.75rem);
   --fs-section-titles: clamp(1.625rem, 1.075rem + 2.75vi, 3rem);
   --fs-full-body-width: clamp(1.125rem, 1.075rem + 0.25vi, 1.25rem);

   /* margins - spacings */
   --mb-xxs: 0.266em;
   --mb-xs: .431em;
   --mb-s: 0.697em;
   --mb-m: 1.128em;
   --mb-l: 1.825em;
   --mb-xl: 2.953em;
   --mb-xxl: 4.778em;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--nav-height);
}

body {
    position:relative;
    font-family: "Lato", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color:var(--body-txt-color);
    line-height: 1.75;
    height: 100%;
}

.display-none{display: block;}

h1, h2 {
    text-wrap: balance;
    max-width: 35ch; 
    font-weight: 900;
    line-height:1.2em;
    letter-spacing: -0.01em;
}

h3 {

    font-size:clamp(1.375rem, 1.275rem + 0.5vi, 1.625rem);
    font-weight: 600;
    letter-spacing: -0.01em;
    line-height: 100%;
}

img{
    max-width: 100%;
}

  .wrapper{
    width:min(80vw, 60rem);
    margin-inline:auto;
}

header{
    width:100%;
    height: fit-content;
    display:inline-block;
    position: fixed;
    background: var(--body-bg-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding:0rem 2rem;
    position:relative;
    background: var(--body-bg-color);
}

.nav-menu{
    display:flex;
    flex-direction:column;
    position:absolute;
    top:-900px;
    left: 0%;
    width:100%;
    height: fit-content;
    margin:0px;
    background: var(--body-bg-color);
    transition:.6s top;
    z-index: -1;
}


.nav-menu.active{
    display:flex;
    top:var(--nav-height);
    transition:.6s top;
}


.nav-menu a{
    display:block;
    padding:1rem;
    width:100%;
    text-align: center;
}
.nav-menu a:hover{
    color:var(--nav-links-hover);
    transition:.1s all;
}



.menu-icon{
    cursor: pointer;
    width:1.875rem;
    height:1.875rem;   
    display: flex;
    align-items: center;
    justify-content: center;
    padding:.4rem;
    box-sizing: content-box;
  }

  .nav-icon {
    display:block;
    width: 100%;
    background: var(--clr-accenture);
    height: 0.125rem;
    position:relative;
    align-items: center;
    justify-content: center;
    transition: all .1s ease-out;
  }

  .nav-icon:after, .nav-icon:before{
    content:'';
    height: 0.125rem;
    background:var(--clr-accenture);
    width: 100%;
    position:absolute;
    transition: all .2s ease-out;
  }


  .nav-icon:after {
   top:-0.5rem;
  }
  .nav-icon:before {
    top:0.5rem;
  }

 .nav-icon.active:before{
    transform: rotate(-45deg);
  }
  
 .nav-icon.active:after{
    transform: rotate(45deg);
  }
    
  .nav-icon.active:after , .nav-icon.active:before{
    top: 0;
  }

  .nav-icon.active{
    background: transparent;
  }



.logo{
    max-width: 5rem;
    padding-block:.4rem;
    vertical-align: middle;
}
.logo a{
    display:flex;
    justify-content: center;
    align-items: center;
}

#home {
    height:100%;
    width:100%;
    min-height: 100vh;
    text-align:center;
    background-image: url('./assets/hero.png') ;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#f0f0f0;
   display:flex;
   justify-content: center;
   align-items: center;   
}

#home .wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#home h1{
    text-transform:initial;
    font-size:clamp(2.125rem, 1.475rem + 3.25vi, 3.75rem);
    width: 100%;
    font-family: "Inter Tight", sans-serif;
    
}

#home p{
    margin-top:var(--mb-s);
    margin-inline: auto;
    max-width: 45ch;
    line-height: 1.75rem;
}

.btn-cta {
    margin-top:var(--mb-xl);
    width: fit-content;
    color:var(--body-bg-color);
    background: var(--clr-accenture);
    padding:var(--mb-s) var(--mb-l);
    border:0px;
    font-weight: 600;
    font-size:1.125rem;
    border-radius:.1rem;
    transition:.1s all;
    cursor:pointer;
}

.btn-cta:hover{
    background: var(--nav-links-hover);
    transition:.1s all;
    scale:1.02;
}

section {
    background: var(--body-bg-color);
    padding-block:var(--mb-xl);
}

section p:last-of-type {
    margin-bottom: 0;
}

.section-title{
    color:var(--section-title-2);
    margin-bottom: var(--mb-s);
    margin-inline:0px;
    text-align: left;
    font-size:var(--fs-section-titles);
}

.full-body-txt{
    margin-bottom: var(--mb-m);
    font-size:var(--fs-full-body-width);
    margin-inline:auto;
 
}

#sobre h2{
    color:var(--section-title-1);
}

#sobre p{
    max-width: 77ch;
    margin-inline:0px;
}

#servicos{
    background: linear-gradient(220.55deg, #d0dae0  0%, #e2ecf3 100%);
}

#servicos h2{
    margin-bottom:var(--mb-xs);
    text-align: left;
}

#servicos  .full-body-txt {
    margin-inline:0px ;
    margin-bottom:var(--mb-l);
    max-width: 75ch;
    text-align: left;
}

.card__wrapper{
    --column-count:1;
    display:grid;
    gap: var(--mb-xl);

    grid-template-columns: repeat(var(--column-count), 1fr);

    justify-content: start;
    place-content: center;
  align-content: start;

}

.card figure {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: var(--mb-s);
    margin:0px;
    padding:0px;
    font-size:0px;
}

.card img {
    width:100%;
}

.card h3{
    margin: var(--mb-s) auto var(--mb-xxs);
}

.card p{
    font-size:1rem;
}

#video-player{
    width:100%;
    margin:var(--mb-m) auto 0px;
    cursor:pointer;
}

.sobre__txt-wrapper figure, .video__wrapper {
    width:min(100%, 50rem);
    margin-inline:auto;
}

.sobre__txt-wrapper h2:nth-of-type(2){
    text-align: center;
}

.mapa figcaption {
    font-size:0.625rem;
    text-align: right;
    margin:0px;
    color:#959595;
    font-style:italic;
}

#clientes h2{
    text-align: center;
    margin-bottom: var(--mb-m);
}

.clientes__wrapper {
    --column-count:2;
    display:grid;
    gap: calc(100vw/100 *6);

    grid-template-columns: repeat(var(--column-count), 1fr);

    place-content: center;
    align-items: center;
}

.clientes__wrapper img{
    width:min(90% , 14rem);
    width:14rem;
    margin-inline:auto;
}

@media( 40rem  < width < 60rem){
    .card__wrapper > article:first-of-type{
        grid-column: 1 / span 2;
    }
    .card__wrapper{
        grid-template-rows: 2;
    }

    .card__wrapper{
        grid-template-columns: 1fr 1fr;
    }
}





#contato > .wrapper > p:first-of-type {
    margin-bottom: var(--mb-l);
    max-width:50ch;
    display:flex;
    justify-content: flex-start;
    margin-inline:0px;

}

#contato h2{
    margin-bottom: var(--mb-xs);
    text-align:left;
    margin-inline:0px;
}

.contato-list .full-body-txt{
    font-size:1rem;
    line-height: unset;
    padding-left:.75rem;
    padding-block:.4rem;
    vertical-align: middle;
    margin:0px;
}


.contato-list, tbody{

    border-collapse:collapse;
    border-spacing: 0px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    
    gap: .4rem;
}

.contato-list tbody:last-child{
    flex:1;
}





.list-icon {
    border-right:0.125rem solid #8da9b4;
    padding-right:.75rem;
    vertical-align: middle;  
}

.list-icon svg{
    fill:#8da9b4;
    min-width: fit-content;
    border-radius: 50%;
    border:0.125rem solid #8da9b4;
    padding:.2rem;
    box-sizing: content-box;
    transition:.15s ease-in;
    cursor:pointer;
    vertical-align: middle;
}

.list-icon svg:hover{
    background:#8da9b4;
    fill:#ffffff;
    transition:.15s ease-in;
}



#bim, #futuro{
    background: var(--section-bg-color);
}

#futuro h2, #futuro p{
    text-align: left;
    max-width: 60ch;
}


footer{
    background:var(--section-title-1) ;
    background: linear-gradient(220.55deg, var(--section-title-1) 0%, var(--body-txt-color) 100%);
    color:#fafafa;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:var(--mb-m);
    padding:var(--mb-l) 4vw;
   
}

footer div img{
    max-width:7.5rem;
}

.legal-txt{
    text-align: center;
    font-size:0.8125rem;
    max-width: 41ch;
}

.social-footer-icons{
    display:flex;
    align-items: center;
    justify-content: center;
}



.social-footer-icons a {
    margin:0px;
    height:100%;
    border-radius:50%;
    display:flex;
    vertical-align:middle;
   
    margin:var(--mb-xxs);

}
.social-footer-icons svg{
    fill:#4a6a80;
    width:2rem;
    height:2rem;
    border-radius:47%;
    background:#ffffff;
    padding:.2rem;
    box-sizing: content-box;
}

.social-footer-icons svg:hover{
    background:#8da9b4;
    fill:#ffffff;
    transition:.1s ease-in;
}


@media(min-width: 61rem){
    .nav-menu {
        display:flex;
        flex-direction: row;
        position: relative;
        justify-content: flex-end;
        z-index: 10;
        top:0;
    }
    .nav-menu a{
        display:flex;
        width:fit-content;
        padding-block:1rem;
    }
 
    .menu-icon{
        display: none;
    }

    #home{
        background-attachment: fixed;
    }

    section{
        padding-block:var(--mb-xxl);
    }

    .section-title{
        text-align: center;
    }

    #video-player{
        margin-top: var(--mb-xl);

    }

    #servicos h2{
        margin-bottom:var(--mb-xxs);
        text-align: center;
    }

    #servicos  .full-body-txt {
        text-align: center;
        margin-bottom:var(--mb-xl);
    }

    .card__wrapper{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card__wrapper > article:first-of-type{
        grid-column: 1;
    }

    .clientes__wrapper{
        --column-count:4;
    }

    #futuro h2, #futuro p{
        text-align: center;
        max-width: 60ch;
    }

    .contato-list .full-body-txt{
        font-size:var(--fs-full-body-width);
    }

    footer{
        width:100%;
        flex-direction: row;
        align-items: start;
        padding-block:3vh;
     
    }

    footer .social-footer-icons{
        flex: 1;
    }

    .legal-txt{
        text-align:left;
        line-height: normal;
        max-width: fit-content;
    }

    .legal-txt p{
        margin-top:var(--mb-m);
    }
    .legal-txt p:nth-child(2){
        margin-top:.9em;
    }

    .social-footer-icons{
    justify-content: flex-end;
    align-self:baseline;
    align-self: center;
}

.display-none{display: none;}

}
